<template>
	<div class="home">
		<button onclick="start(5000)">Record screen!</button>
		<div id="div"></div>
		<br>
		<video id="video" height="800" width="800" autoplay></video>
		<a id="link"></a>
	</div>
</template>

<script>
    // @ is an alias to /src
    window.constraints = {video: {mediaSource: "screen"}};
    window.start = ms => navigator.mediaDevices.getDisplayMedia(constraints)
        .then(stream => record(stream, ms)
            .then(recording => {
                stop(stream);
                console.log(recording)
                video.src = link.href = URL.createObjectURL(new Blob(recording, {type: 'video/mp4'}));
                link.download = "recording.mp4";
                link.innerHTML = "Download blob";
                log("Playing " + recording[0].type + " recording:");
            })
            .catch(log).then(() => stop(stream)))
        .catch(log);
    window.log = msg => div.innerHTML += "<br>" + msg;

    window.record = (stream, ms) => {
        var rec = new MediaRecorder(stream), data = [];
        rec.ondataavailable = e => data.push(e.data);
        rec.start();
        log(rec.state + " for " + (ms / 1000) + " seconds...");
        var stopped = new Promise((r, e) => (rec.onstop = r, rec.onerror = e));
        return Promise.all([stopped, wait(ms).then(() => rec.stop())])
            .then(() => data);
    };

    window.stop = stream => stream.getTracks().forEach(track => track.stop());
    window.wait = ms => new Promise(resolve => setTimeout(resolve, ms));

    export default {
        name: 'home',
        mounted() {
        },
        methods: {}
    }
</script>

<style lang="scss" scoped>
	#video {
		border: 1px solid #999;
		width: 98%;
		max-width: 860px;
	}

	.error {
		color: red;
	}

	.warn {
		color: orange;
	}

	.info {
		color: darkgreen;
	}
</style>